recursive-include src *.py

graft src
graft doc
graft build/sphinx/html

global-exclude *.pyc .cvsignore .svnignore .gitignore
exclude setup.cfg
exclude .project
exclude .pydevproject
exclude .ropeproject
exclude build_*
